In [233]:
import pandas as pd
import sqlite3

In [234]:
import numpy as np
import matplotlib as plt
import streamlit as st

In [235]:
df = pd.read_csv ('/Users/AliceNguyen/Documents/Data Manager - TUC/(År 1.4) Data Science/used_car_sales.csv')

In [236]:
df.drop (["ID","zipcode", "Trim", "NumCylinders", "yearsold", "Engine"], axis = 1, inplace = True)

In [237]:
df = df.dropna()

In [238]:
new_ordning = ["Make", "Model", "BodyType", "DriveType", "Mileage", "Year", "pricesold"]

In [239]:
df = df[new_ordning]

In [240]:
df['DriveType'] = df['DriveType'].replace({
    'AWD': 'full',
    '4WD': 'full',
    'FWD': 'front',
    'RWD': 'rear',
    '2WD': 'front'
})

In [241]:
df.columns = df.columns.str.title()

In [242]:
print (df)

                     Make               Model      Bodytype Drivetype  \
0                    Ford             Mustang         Sedan      rear
1       Replica/Kit Makes  Jaguar Beck Lister   Convertible      rear
2                  Jaguar                 XJS   Convertible      rear
3                    Ford             Mustang         Coupe      rear
4                 Porsche                 911         Coupe      full
...                   ...                 ...           ...       ...
122135               Ford              Bronco           SUV      full
122136           Plymouth           Barracuda         Coupe      Rear
122138           Plymouth         Belvedere 2  Sports Coupe      rear
122142                BMW            3-Series         Coupe      rear
122143             Nissan               300ZX         Coupe      rear

        Mileage  Year  Pricesold
0         84430  1988       7500
1             0  1958      15000
2         55000  1995       8750
3         97200  1968      11600
4         40703  2002      44000
...         ...   ...        ...
122135    76413  1979       6700
122136    99899  1967       4900
122138    59197  1966       4500
122142   164337  2000       2280
122143   163111  1990       5000

[88079 rows x 7 columns]

In [243]:
df = pd.read_csv ('/Users/AliceNguyen/Documents/Data Manager - TUC/(År 1.4) Data Science/raj_car_sales_analysis_data.csv')

In [244]:
df.drop (["engV", "engType", "registration"], axis = 1, inplace = True)

In [245]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [246]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9576 entries, 0 to 9575
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   car      9576 non-null   object
 1   price    9576 non-null   float64
 2   body     9576 non-null   object
 3   mileage  9576 non-null   int64
 4   year     9576 non-null   int64
 5   model    9576 non-null   object
 6   drive    9065 non-null   object
dtypes: float64(1), int64(2), object(4)
memory usage: 523.8+ KB

In [247]:
df = df.dropna()

In [248]:
df = df.rename(columns={
    'car': 'Make',
    'price' : 'pricesold',
    'drive' : 'DriveType',
    'body' : 'Bodytype',
    })

In [249]:
df.columns = df.columns.str.title()

In [250]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9065 entries, 0 to 9575
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Make       9065 non-null   object
 1   Pricesold  9065 non-null   float64
 2   Bodytype   9065 non-null   object
 3   Mileage    9065 non-null   int64
 4   Year       9065 non-null   int64
 5   Model      9065 non-null   object
 6   Drivetype  9065 non-null   object
dtypes: float64(1), int64(2), object(4)
memory usage: 566.6+ KB

In [251]:
new_ordning = ["Make", "Model", "Bodytype", "Drivetype", "Mileage", "Year", "Pricesold"]

In [252]:
df = df[new_ordning]

In [255]:
df.columns = df.columns.str.strip().str.lower()
df.columns = df.columns.str.strip().str.lower()

In [ ]:
combined_df.to_csv('data/combined_countries.csv', index=False)
print("Filerna har kombinerats och sparats som 'combined_countries.csv'")